<head>
    <meta charset="UTF-8">
    <title>Line's</title>
</head>
<canvas id="canvas"></canvas>

<script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    canvas.width = document.body.clientWidth;
    canvas.height = document.body.clientHeight; 

    var startX;
    var startY;
    var isDraving = false;
    var lines = [];

    canvas.addEventListener("mousedown", function(event) {
        startX = event.clientX;
        startY = event.clientY;
        isDraving = true;
    });

    canvas.addEventListener("mousemove", function(event) {
        if (isDraving){
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.beginPath();
            ctx.moveTo(startX, startY);
            ctx.lineTo(event.clientX, event.clientY);
            ctx.stroke();
            for (let i = 0; i < lines.length; i++) {
                ctx.beginPath();
                ctx.moveTo(lines[i].x1, lines[i].y1);
                ctx.lineTo(lines[i].x2, lines[i].y2);
                ctx.stroke();
            }
        }
      
    });

    canvas.addEventListener("mouseup", function(event) {
        lines.push({x1: startX, y1: startY, x2: event.clientX, y2: event.clientY});
        isDraving = false; 

    });
</script>
